@use "sass:color";

.button {
  width: 50%;
}

.buttonsRow {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  width: 50%;
}

.customIcon {
  width: auto;
  height: 2.1em;
  margin-right: 1em;
}

.customToast {
  $customColor: #00a0b0;

  border: solid 1px $customColor;

  i {
    ellipse {
      fill: $customColor;
    }

    path {
      stroke: $customColor;
    }
  }

  [class*="title"] {
    color: $customColor;
  }

  [class*="progress-bar-foreground"] {
    background: $customColor;
  }

  [class*="progress-bar-foreground"] {
    background: $customColor;
  }
  [class*="progress-bar-progress-overlay"] {
    background-color: color.adjust($color: $customColor, $lightness: 35%);
  }
}

.customToastImage {
  width: 100%;
  height: 100%;
}
