.codeBlock {
  margin-top: 0.5em;
  position: relative;
}

.row {
  display: table-row;
}

.lineNumber {
  color: rgb(107 114 128/1);
  display: table-cell;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 1rem;
  text-align: right;
  user-select: none;
}

.lineContent {
  display: table-cell;
}

.copyButton {
  background-color: #a9a9a9;
  border-radius: 0.5em;
  bottom: 0.5rem;
  position: absolute;
  right: 0.5rem;
}
