.codeBlock {
  margin-top: 0.5em;
  position: relative;

  --ifm-pre-background: var(--prism-background-color);
}

.row {
  display: table-row;
}

.lineNumber {
  color: rgb(107 114 128/1);
  display: table-cell;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 1rem;
  text-align: right;
  user-select: none;
}

.lineContent {
  display: table-cell;
}

.copyButton {
  background-color: #f8f8f8;
  border-radius: 0.5em;
  border: 0;
  bottom: 0.5rem;
  position: absolute;
  right: 0.5rem;
}

[data-theme="dark"] {
  .codeBlock {
    --ifm-pre-background: var(--ifm-code-background);
  }
}
