body {
  background-blend-mode: darken;
  background-color: #fff6df;
  background-image: url("./assets/toast-with-frame.svg");
  background-repeat: space;
  background-size: 7%;
}

#app {
  color: #2c3e50;
  font-family: Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 60px;
  text-align: center;
}

.custom-toast {
  height: 3em;
  opacity: 0;
  padding: 1em;
  position: absolute;
  width: 10em;
}

.custom-container {
  opacity: 1;
}

.purple-toast {
  background-color: #dda0dd !important;
}

.thicker-toast {
  padding: 5px;
}

.aqua-progress-bar {
  background: #0ff !important;
}

.pink-progress-bar-background {
  background: #ffc0cb !important;
}

.no-padding {
  padding: 0;
}

.invisible {
  opacity: 0;
}
