.toggleSwitch {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  margin-left: 0.5em;
}

.input {
  outline: none;
  margin: 0 0.5em;
  position: relative;
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: #eaeaea;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:focus {
    box-shadow: 0 2px 25px #f6d6b8;
  }

  &:checked {
    background-color: #ff9c3f;

    &::after {
      left: 50%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
}

[data-theme="dark"] {
  .input {
    background-color: #3b3b3b;

    &:checked {
      background-color: #ff9c3f;
    }
  }
}

@media screen and (max-width: 1270px) {
  .label {
    font-size: 0.8em;
  }
}
